<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span jhiTranslate="coopcycleApp.order.detail.title">Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.number">Number</span></dt>
        <dd>
          <span>{{ order.number }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.orderDate">Order Date</span></dt>
        <dd>
          <span>{{ order.orderDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.deliveryDate">Delivery Date</span></dt>
        <dd>
          <span>{{ order.deliveryDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.status">Status</span></dt>
        <dd>
          <span>{{ order.status }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.client">Client</span></dt>
        <dd>
          <div *ngIf="order.client">
            <a [routerLink]="['/client', order.client.id, 'view']">{{ order.client.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.restaurant">Restaurant</span></dt>
        <dd>
          <div *ngIf="order.restaurant">
            <a [routerLink]="['/restaurant', order.restaurant.id, 'view']">{{ order.restaurant.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.order.courier">Courier</span></dt>
        <dd>
          <div *ngIf="order.courier">
            <a [routerLink]="['/courier', order.courier.id, 'view']">{{ order.courier.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
